@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            @if (User.IsInRole("Student")) {
                <div class="form-floating">
                    <input asp-for="Input.Voornaam" class="form-control" disabled />
                    <label asp-for="Input.Voornaam" class="form-label"></label>
                    <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Achternaam" class="form-control" disabled />
                    <label asp-for="Input.Achternaam" class="form-label"></label>
                    <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
                </div>
            } else {
                <div class="form-floating">
                    <input asp-for="Input.Voornaam" class="form-control" />
                    <label asp-for="Input.Voornaam" class="form-label"></label>
                    <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Achternaam" class="form-control" />
                    <label asp-for="Input.Achternaam" class="form-label"></label>
                    <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
                </div>
            }
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
